
<div class="profile-box friends md-whiteframe-1dp white-bg" layout="column" >
    <header class="md-accent-bg">
        <div class="title" translate="CONTACT.DETAIL" style="display: inline-block">Detail</div><md-icon id="edit-contact" ng-click="$ctrl.editUserProfile($event)" md-font-icon="icon-pencil"
                                                                                                         style="cursor: pointer;float: right"
                                                                                                         class="ng-isolate-scope md-font icon-cog material-icons md-default-theme white-fg"></md-icon>
    </header>
   
    <md-card class="nowhiteframe" flex="25" ng-show="$ctrl.selected !== false">
        <md-card-header>
            <md-card-avatar>
                <img class="avatar" ng-src="{{$ctrl.selectedData.avatar}}">
            </md-card-avatar>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{$ctrl.userDetail.username}} {{$ctrl.userDetail.username}}</span>
                <md-tabs md-dynamic-height>
                    <md-tab label="Personal Details">
                        <div class="profile-box info-box personal" layout="column">
                            <div class="content">

                                <div class="info-line">
                                    <div class="title" translate="PROFILE.FIRSTNAME">First Name</div>
                                    <div class="info">{{$ctrl.selectedData.username}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.username" placeholder="First Name" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.LASTNAME">Last Name</div>
                                    <div class="info">{{$ctrl.about.contact.lastname}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.contact.lastname" placeholder="Last Name" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.JOB">Occupation</div>
                                    <div class="info">{{$ctrl.selectedData.job}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.job" placeholder="Occupation" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.STREET">Street</div>
                                    <div class="info">{{$ctrl.about.contact.street}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.contact.street" placeholder="Street" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.ADDITION">Addition</div>
                                    <div class="info">{{$ctrl.about.contact.addition}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.contact.addition" placeholder="Addition" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.POSTALCODE">Postal Code</div>
                                    <div class="info">{{$ctrl.about.contact.postalcode}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.postalcode" placeholder="Postal Code" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.LOCATIONS">Location</div>
                                    <div class="info location">
                                        {{$ctrl.selectedData.location}}
                                    </div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.location" placeholder="Locations" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title">Province</div>
                                    <div class="info location">
                                        {{$ctrl.selectedData.province}}
                                    </div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.province" placeholder="Locations" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.COUNTRY">Country</div>
                                    <div class="info">{{$ctrl.about.contact.country}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.contact.country" placeholder="Country" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.TEL">Phone</div>
                                    <div class="info">{{$ctrl.about.contact.tel}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.contact.tel" placeholder="Phone" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.FAX">Fax</div>
                                    <div class="info">{{$ctrl.about.contact.fax}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.contact.fax" placeholder="Phone" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.MOBILE">Mobile</div>
                                    <div class="info">{{$ctrl.about.contact.mobile}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.contact.mobile" placeholder="Phone" required>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <md-button ng-if="$ctrl.editContact !== false" ng-click="$ctrl.update($event,$ctrl.contact)" class="md-raised md-accent" aria-label="LOG IN">
                            Save
                        </md-button>
                    </md-tab>

                    <md-tab label="Company Details">
                        <div class="profile-box info-box company" layout="column">
                            <div class="content">
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.COMPANY">Company</div>
                                    <div class="info">{{$ctrl.selectedData.company}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.company" placeholder="Company" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.OCCUPATION">Business</div>
                                    <div class="info">{{$ctrl.occupation.selectedData}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <md-select ng-model="$ctrl.occupation.selectedData"
                                                   ng-change="$ctrl.occupation.change($ctrl.occupation.selectedData)">
                                            <md-option style="color: black !important;" ng-repeat="entry in $ctrl.occupation.data">
                                                {{entry.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.STREET">Street</div>
                                    <div class="info">{{$ctrl.about.work.street}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.work.street" placeholder="Street" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.ADDITION">Addition</div>
                                    <div class="info">{{$ctrl.about.work.addition}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.work.addition" placeholder="Addition" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.POSTALCODE">Postal Code</div>
                                    <div class="info">{{$ctrl.about.work.postalcode}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.work.postalcode" placeholder="Postal Code" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.LOCATIONS">Location</div>
                                    <div class="info location">
                                        {{$ctrl.selectedData.location}}
                                    </div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.location" placeholder="Locations" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title">Location</div>
                                    <div class="info location">
                                        {{$ctrl.selectedData.province}}
                                    </div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.contact.province" placeholder="Locations" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.COUNTRY">Country</div>
                                    <div class="info">{{$ctrl.about.work.country}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.work.country" placeholder="Country" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.TEL">Phone</div>
                                    <div class="info">{{$ctrl.about.work.tel}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.work.tel" placeholder="Phone" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.FAX">Fax</div>
                                    <div class="info">{{$ctrl.about.work.fax}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.work.fax" placeholder="Phone" required>
                                    </md-input-container>
                                </div>
                                <div class="info-line">
                                    <div class="title" translate="PROFILE.EMAIL">E-mail</div>
                                    <div class="info">{{$ctrl.about.work.email}}</div>
                                    <md-input-container ng-if="$ctrl.editContact !== false" class="md-block" md-no-float>
                                        <input type="text" name="gender" ng-model="$ctrl.about.work.email" placeholder="Phone" required>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <md-button ng-show="$ctrl.editContact !== false " ng-click="$ctrl.update($event,$ctrl.contact,$index)" type="" class="md-raised md-accent" aria-label="LOG IN">
                            Save
                        </md-button>
                    </md-tab>
                </md-tabs>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button title="Delete User" ng-click="$ctrl.delete($event,$ctrl.selectedData)" ng-show="$ctrl.editContact === false" >Delete</md-button>
            <md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="toggle">
                    <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                </md-button>
            </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
            <h3>Remarks</h3>
            <text-angular ng-model="$ctrl.selectedData.message"></text-angular>
        </md-card-content>
    </md-card>
</div>