#profile .add-file-button {
  background-color: #EC407A !important; }
  #profile .add-file-button:active, #profile .add-file-button:focus, #profile .add-file-button:hover {
    background-color: #4CAF50 !important; }

#profile .header {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  background: url("/assets/images/backgrounds/header-bg.png") 0 45% no-repeat;
  background-size: cover;
  background-color: #039be5; }
  #profile .header .profile-image {
    margin-right: 24px; }
  #profile .header md-icon.changepic {
    margin-top: 70px;
    margin-right: 30px;
    color: white;
    font-size: 36px; }
  #profile .header .name {
    font-size: 34px;
    color: #FFFFFF; }
  #profile .header .actions .md-button {
    text-transform: none;
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    margin: 0 0 0 8px; }

#profile .content md-content {
  background-color: transparent; }

#profile .profile-box {
  margin-bottom: 16px; }
  #profile .profile-box header {
    padding: 16px; }
    #profile .profile-box header .title {
      font-size: 17px; }
    #profile .profile-box header .more {
      cursor: pointer; }
  #profile .profile-box .content {
    padding: 16px !important;
    background-color: #FFF; }
    #profile .profile-box .content.profiledata {
      padding: 0 24px 24px 30px; }
  #profile .profile-box footer {
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.06); }
  #profile .profile-box.info-box .info-line {
    padding-top: 20px; }
    #profile .profile-box.info-box .info-line md-input-container .md-input {
      color: #039be5; }
    #profile .profile-box.info-box .info-line .title {
      font-size: 12px;
      font-weight: 500;
      padding-bottom: 4px;
      color: #B5B5B5;
      display: inline-table;
      width: 150px; }
    #profile .profile-box.info-box .info-line .info {
      font-size: 15px;
      line-height: 30px;
      display: inline-table; }
    #profile .profile-box.info-box .info-line:last-child {
      margin-bottom: 0; }

#profile header.addgrp {
  padding: 0 16px;
  height: 55px; }
  #profile header.addgrp .title {
    font-size: 17px;
    display: inline-flex; }
    #profile header.addgrp .title .groupovrvw {
      margin-left: 15px; }
  #profile header.addgrp .add-file-button.inhead {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 10px; }

#profile table.userstable tbody td {
  padding-top: 3px;
  padding-bottom: 3px; }

#profile md-card.nowhiteframe {
  box-shadow: none; }

#profile md-card span.md-headline {
  margin-top: -20px;
  padding-bottom: 15px; }

#profile md-card .info-line {
  padding-top: 20px; }
  #profile md-card .info-line .title {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 4px;
    color: #B5B5B5;
    display: inline-table;
    width: 150px; }
  #profile md-card .info-line .info {
    font-size: 15px;
    line-height: 30px;
    display: inline-table; }

#profile .detailbox {
  padding-left: 15px; }
  @media all and (max-width: 980px) {
    #profile .detailbox {
      padding-left: 0; } }
