<md-dialog class="add-user" aria-label="Add User" ng-controller="AddUserDialogController as vm">
    <form class="md-inline-form" name="userform" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Add User</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="CONTACT.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll class="addUserOverflow">
          
            <md-input-container class="md-block">
                <label>User name</label>
                <input ng-model="userform.name" type="text" name="firstName" required="">
            </md-input-container>
            <md-button ng-click="vm.addUser(userform.name)" style="float: right" type="submit" class="md-primary md-raised">
                Add
            </md-button>
            <md-button ng-click="vm.closeDialog()" style="float: right" type="submit" class="md-primary md-raised">
                Cancel
            </md-button>
        </md-dialog-content>

    </form>
</md-dialog>
