#profile {

  header.addgrp {
    padding: 0 16px;
    height: 55px;

    .title {
      font-size: 17px;
      display: inline-flex;

      .groupovrvw {
        margin-left: 15px;
      }
    }

    .add-file-button.inhead {
      height: 50px;
      width: 50px;
      margin-top: 30px;
      margin-right: 10px
    }

  }

  table {

    &.userstable {



        tbody {

          td {
            padding-top: 3px;
            padding-bottom: 3px;
          }

        }

      }

    }
}